.App {
  text-align: center;
}

.App-header {
  background-color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-logo {
  width: 350px;
  height: 350px;
  pointer-events: none;
  border-radius: 100%;



}

.start-container {
  margin-top: 20px;
  border-radius: 50px;

}

.start-container.hover {
  background-color: rgb(157, 97, 62);
}

.App-link {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: black;
  background-color: #61dafb;
  border: none;


  cursor: pointer;
  text-decoration: none;
}

.App-link:hover {
  background-color: #21a1f1;
}

.initial {
  background-color: #d7dde1;
  border-radius: 50px;
  border: width 800px;
  box-shadow: #f0f4f5;
  width: 100%;
  text-align: center;



}
